.item-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
}

.item-image {
  width: 100%;
  height: 100%;
}

.item-button {
 position: absolute;
 width: 100%;
 height: 100%;
 z-index: 999;
}

.item-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.item-hint {
  position: absolute;
  top: 85%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  background: #636363;
  border-radius: 25px;
  width: 90%;
  height: 20%;
  overflow: hidden;
}

.item-font {
  color: white;
  font-size: 10px;

  position: absolute;
  left: 50%;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.item-type {
  position: absolute;
  left: 12%;
  top: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);

  background-color: #f44336;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}
