<div class="item-wrapper" (mouseenter)="show = !show" (mouseleave)="show = !show">

  <md-icon class="item-icon" *ngIf="show">{{item.selected ? 'remove' : 'add'}}</md-icon>

  <button md-button class="item-button" (click)="select()"></button>
  <img class="item-image" src="{{photoUrl + item.photo}}">

  <div class="item-hint" *ngIf="show">
    <span class="item-font">{{item.name}}</span>
  </div>

</div>

