:host {
  display: flex;
  flex: 1;
}

md-sidenav {
  width: 320px;
}

.user-picture{
  height: 40px;
  width: auto;
  border-radius: 50%;
}

#title-wrapper {
  position: relative;
}

.home-button {
  position: absolute;
  height: 100%;
  width: 100%;
}

#user-wrapper {
  position: relative;
}

.user-dropdown {
  background: transparent;
  text-decoration: none;
  border: none;
  position: absolute;
  height: 100%;
  width: 100%;
}
