<div fxFlex fxLayout="column">


  <md-toolbar>
    <div id="title-wrapper" fxLayoutAlign="start center" fxLayoutGap="10px">
      <md-icon svgIcon="logo" color="primary"></md-icon>
      <span>Rustloot</span>
      <a class="home-button" routerLink="/"></a>
    </div>


    <span fxFlex></span>

    <div id="user-wrapper" fxLayoutAlign="start center" fxLayoutGap="10px" *ngIf="user">
      <button class="user-dropdown" md-icon-button [mdMenuTriggerFor]="userMenu" disableRipple></button>
      <md-icon>arrow_drop_down</md-icon>
      <span fxHide.lt-sm>{{user.name}}</span>
      <img class="user-picture" [src]="user.photo">
    </div>

    <a md-raised-button *ngIf="!user" href="/auth" color="accent">Login via Steam</a>
  </md-toolbar>

  <div fxFlex #sidenavWrapper>
    <md-sidenav-container fxFlex>
      <router-outlet></router-outlet>
    </md-sidenav-container>
  </div>

  <md-menu #userMenu="mdMenu" toggleMenu>
    <button md-menu-item (click)="openUserDialog()">Profile</button>
    <button md-menu-item (click)="logoutUser()"> Logout </button>
  </md-menu>

</div>
