
<div style="width:100%; height:100%; padding:10px 10px 10px 10px;" fxLayout="column" fxLayoutGap="10px" (window:resize)="onResize()">
  <div fxFlex="35" fxLayoutGap="10px">

      <div class="item-card-wrapper" fxFlex>
        <div class="item-card" fxFlex fxLayout="column">
          <div class="item-card-header">
            <div fxFlex>
              <span fxFlex></span>
              <md-input-container class="example-full-width">
                  <input mdInput placeholder="First name">
                </md-input-container>
              <button class="header-button" md-icon-button mdTooltip="Sort" mdTooltipPosition="above"><md-icon>sort</md-icon></button>
              <button class="header-button" md-icon-button mdTooltip="Refresh" mdTooltipPosition="above"><md-icon>refresh</md-icon></button>
              <div class="search">
                <input>
              </div>
              <button class="header-button" md-icon-button (click)="animateSearchbar()"><md-icon>search</md-icon></button>
            </div>
          </div>
          <div class="item-card-content" fxFlex>
              <md-grid-list cols="{{numberOfColumns}}" rowHeight="1:1" gutterSize="10px" style="margin:5px 5px 5px 5px;">
                  <md-grid-tile *ngFor="let item of selectedItems">
                    <app-item [item]="item" (onSelect)="onSelect($event)"></app-item>
                  </md-grid-tile>
                </md-grid-list>
          </div>
          <div class="item-card-footer">
              <div style="background-color:royalblue;" fxFlex>

                <span fxFlex></span>

                <button class="clear-selected" md-icon-button mdTooltip="Clear"
                mdTooltipPosition="above" (click)="clearSelected()" [disabled]="selectedItems.length === 0"><md-icon>clear</md-icon>
                </button>

              </div>
          </div>
        </div>
      </div>

      <div fxFlex="10" fxLayout="column">
        <div fxFlex>
            <button class="trade-layout" md-icon-button mdTooltip="Info" mdTooltipPosition="above"><md-icon>info_outline</md-icon></button>
        </div>
        <div fxFlex="30">
            <button md-raised-button color="primary" (click)="openTradeDialog()" fxFlex>TRADE</button>
        </div>
        <div fxFlex>
            <button class="trade-layout" md-icon-button mdTooltip="More" mdTooltipPosition="above"><md-icon>more_horiz</md-icon></button>
        </div>

      </div>
      <div style="background-color:yellow;" fxFlex></div>
  </div>

  <div fxFlex fxLayoutGap="10px">

    <div class="item-card-wrapper" fxFlex>
        <div class="item-card" fxFlex fxLayout="column">
          <div class="item-card-header">
              <div class="header-title" fxFlex="25">
                Your Inventory
              </div>

              <span fxFlex></span>
              <button class="header-button" md-icon-button mdTooltip="Search" mdTooltipPosition="above"><md-icon>search</md-icon></button>
              <button class="header-button" md-icon-button mdTooltip="Sort" mdTooltipPosition="above"><md-icon>sort</md-icon></button>
              <button class="header-button" md-icon-button mdTooltip="Refresh" mdTooltipPosition="above"><md-icon>refresh</md-icon></button>
          </div>
          <div class="item-card-content" fxFlex>
              <md-grid-list cols="{{numberOfColumns}}" rowHeight="1:1" gutterSize="10px" style="margin:5px 5px 5px 5px;">
                  <md-grid-tile *ngFor="let item of testlist" style="overflow: visible;">
                    <app-item [item]="item" (onSelect)="onSelect($event)"></app-item>
                  </md-grid-tile>
                </md-grid-list>
          </div>
          <div class="item-card-footer">
              <div class="footer-subtitle">
                # {{testlist.length}} {{testlist.length !== 1 ? "items" : "item"}}
              </div>
          </div>
        </div>
      </div>

    <div style="background-color:royalblue;" fxFlex="10"></div>
    <div style="background-color:lightblue;" fxFlex></div>
  </div>
</div>
