app-item {
  height: 100%;
  width: 100%;
}

.item-card-wrapper {
  background-color: #424242;
  box-shadow: 0px 0px 2px #303030;
  border-radius: 4px;
}

.item-card {
  margin: 0px 5px 0px 5px;
}

.item-card-header {
  position: relative;
  padding: 4px 0px 4px 0px;
  height: 48px;
  width: 100%;
}

.item-card-content {
  overflow: auto;
}

.item-card-footer {
  position: relative;
  height: 48px;
  width: 100%;
}

.item-card-content::-webkit-scrollbar {
  width: 16 px;
  background-color: transparent;
}

.item-card-content::-webkit-scrollbar-thumb {
  background-color: #636363;
}

.clear-selected {
  top: 50%;
  transform: translate(0, -50%);
}

.trade-layout {
  color: #636363;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-title{
  padding: 8px 8px 8px 8px;
  color: #CCCCCC;
  font-size: 20px;
}

.header-button {
  margin: 0px 2px 0px 2px;
  color: #CCCCCC;
}

.footer-subtitle {
  position: absolute;
  top: 50%;
  margin-right: -50%;
  transform: translate(0, -50%);

  color: #888888;
  font-size: 16px;
  margin-left: 12px;

}

.search {
  background-color: #eeeeee;
  margin: 4px 0px 4px 0px;
  height: 32px;
  width: 256px;
  border-radius: 4px;
}

.search > input {
  height: 24px;
  width: 248px;
  margin: 4px 4px 4px 4px;
  padding: 0px 0px 0px 0px;
  background-color: transparent;
  border: 0px;
  font-size: 20px;
  line-height: 32px;
  vertical-align: middle;
}

.search > input:focus {
  outline: none;
}
