colors {

  /* PRIMARY COLORS*/
  color: #212121; /* HUE 1 */
  color: rgba(33, 33, 33, 1); /* HUE 1 */


  color: #424242; /* HUE 2 */
  color: rgba(66, 66, 66, 1); /* HUE 2 */

  color: #636363; /* HUE 3 */
  color: rgba(99, 99, 99, 1); /* HUE 3 */

  /* SECONDARY */
  color: #f44336; /* RED */
  color: rgba(244, 67, 54, 1); /* RED */

}
